{{#each data}}
       {{#if attributes.name}}
        <header>
          <h1>{{attributes.name}}</h1>
        </header>
        {{/if}}
{{/each}}

<section class="lo-full padding-off semester-start semester-start-details">


  {{#each data}}

  {{#each attributes.page}}
    {{#if expanded}}
      <article class="semester-start-details-item semester-start-details-item-icon lo-full newstudent" style="">
        <a href="#/detaljer/{{../../../meta.courseId}}/{{id}}"><h1>{{title}}</h1></a>
        <div class="semester-start-details-item-moreinfo ">
        {{{content}}}
        </div>
        <div class="fade-content"></div>
        <a href="#/detaljer/{{../../../meta.courseId}}/{{id}}" class="btn btn-primary newstudent-readmore">Les mer om hva du må gjøre som ny student</a>
    {{else}}

      <article class="semester-start-details-item semester-start-details-item-icon lo-half" style="">
        {{#if link}}
          <a href="{{link}}" target="{{linkTarget}}"><h1>{{title}}</h1></a>
        {{else}}
          <a href="#/detaljer/{{../../../../meta.courseId}}/{{id}}"><h1>{{title}}</h1></a>
        {{/if}}
    {{/if}}
    </article>
  {{/each}}

  {{#if attributes.timeedit}}

  <article class="semester-start-details-item semester-start-details-item-icon lo-half" style="">
    <a href="{{attributes.timeedit}}"><h1>Timeplan</h1></a>
  </article>

  {{/if}}

  {{/each}}


</section>
