
{{#ifCond meta.type 'studystart'}}
<ol class="breadcrumb">
  <li><a href="#/finn-studie">Velg studium/kurs</a></li>
  {{#if meta.courseId}}<li class="active"><a href="#/detaljer/{{meta.courseId}}">Detaljer for {{meta.courseId}}</a></li>{{/if}}
  {{#if meta.id}}<li><a href="#">{{meta.pageTitle}}</a></li>{{/if}}
</ol>
{{/ifCond}}

<section class="lo-full padding-off semester-start semester-start-details">

    {{#each semesterstart}}

        {{#if openingday}}
        <article class="semester-start-details-item semester-start-details-item-icon lo-full openingday" style="">

          <h1>{{openingday.pagetitle}}</h1>
          <div class="semester-start-details-item-moreinfo ">
          {{{openingday.contents}}}
          </div>
          <div class="fade-content"></div>
          <a href="#" class="btn btn-default openingday-readmore">Les mer</a>
        </article>
        {{/if}}
        {{#if calendar}}
        <article class="semester-start-details-item semester-start-details-item-icon lo-half">
        <a href="{{calendar}}">
          <h1>Se din kalender</h1>
        </a>
        </article>
        {{/if}}
        {{#if aditionalinformation}}
        <article class="semester-start-details-item semester-start-details-item-icon lo-half">
        <a href="#/detaljer/{{../../meta.courseId}}/{{aditionalinformation.id}}">
          <h1>{{!-- aditionalinformation.pagetitle --}}Spesiell oppstartinformasjon</h1>
          <div class="semester-start-details-item-moreinfo">
              {{{aditionalinformation.contents}}}
          </div>
        </a>
        </article>
        {{/if}}
        {{#if campusinfo}}
        <article class="semester-start-details-item semester-start-details-item-icon lo-half">
        <a href="#/detaljer/{{../../meta.courseId}}/{{campusinfo.id}}">
          <h1>{{campusinfo.pagetitle}}</h1>
          <div class="semester-start-details-item-moreinfo">
              {{{campusinfo.contents}}}
          </div>
        </a>
        </article>
        {{/if}}
        {{#if sio}}
        <article class="semester-start-details-item semester-start-details-item-icon lo-half">
        <a href="#/detaljer/{{../../meta.courseId}}/{{sio.id}}">
          <h1>{{sio.pagetitle}}</h1>
          <div class="semester-start-details-item-moreinfo">
              {{{sio.contents}}}
          </div>
        </a>
        </article>
        {{/if}}
        {{#if studentlife}}
        <article class="semester-start-details-item semester-start-details-item-icon lo-half">
        <a href="#/detaljer/{{../../meta.courseId}}/{{studentlife.id}}">
          <h1>{{studentlife.pagetitle}}</h1>
          <div class="semester-start-details-item-moreinfo">
              {{{studentlife.contents}}}
          </div>
        </a>
        </article>
        {{/if}}
        {{#if itservices}}
        <article class="semester-start-details-item semester-start-details-item-icon lo-half">
        <a href="#/detaljer/{{../../meta.courseId}}/{{itservices.id}}">
          <h1>{{itservices.pagetitle}}</h1>
          <div class="semester-start-details-item-moreinfo">
              {{{itservices.contents}}}
          </div>
        </a>
        </article>
        {{/if}}
        {{#if libraryservices}}
        <article class="semester-start-details-item semester-start-details-item-icon lo-half">
        <a href="#/detaljer/{{../../meta.courseId}}/{{libraryservices.id}}">
          <h1>{{libraryservices.pagetitle}}</h1>
          <div class="semester-start-details-item-moreinfo">
              {{{libraryservices.contents}}}
          </div>
        </a>
        </article>
        {{/if}}
    {{/each}}

</section>
